<nav class="navbar">
<div class="container d-flex justify-content-center">
    <a class="navbar-brand" href="home.html">
        
        {% comment %} <img id="logo" src="../static/img/ecoCarLogo.png" alt=""> {% endcomment %}
        {% comment %} <div class="logo-text"> {% endcomment %}
        {% comment %} </div> {% endcomment %}
    </a>
    <div class="navbar-links">
        <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'aboutus' %}">About Us</a></li>
        <li><a href="{% url 'alternatives' %}">Alternatives</a></li>
        <li><a href="{% url 'index' %}">Recognizer Tool</a></li>
        </ul>
    </div>
    </div>
</nav>