<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clean Car AI</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Alternatives</a></li>
				<li><a href="#">Recognizer Tool</a></li>
			</ul>
		</nav>
	</header>
    <main>
    <h1 class="Etitle"><strong>ECO CAR RECOGNIZER</strong></h1>
    <p>Welcome to Eco Car Recognizer, the innovative web app that helps you make informed choices for sustainable transportation. Join us on this eco-friendly journey and drive towards a cleaner, sustainable future.</p>
    <button onclick="location.href='http://index.html';">try it here</button>
    </main>

</body>
