{% extends 'layout/base.html' %}
{% load static %}

{% block header %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock header %}

{% block body %}

  <div class="gradient-overlay"/>
  
  <div class="content">

    <h1>ECO CAR AI</h1>
    
    <p>The innovative web app that helps you make informed choices for sustainable transportation. <br> Join us on this eco-friendly journey and drive towards a cleaner, sustainable future.</p>
    
    <a href="{% url 'index' %}" class="try-it-button">
      Try it here
      <span class="arrow">&#8594;</span>
    </a>
  
  </div>

{% endblock body %}