<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clean Car AI</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <div id="Rectangle3"></div>
    <div id="background"></div>
    <div id="Rectangle2"></div>
    <nav>
        <div class = "navbar">
            <div style="display:flex; align-items:center; justify-content:center">
                <img src="https://media.discordapp.net/attachments/1097651532540948698/1101941005252571136/logoNew.png?width=709&height=709"width="100" height="100"> 
                <a class="navbarTitle"href="#">EcoRecognizer</a>
            </div>
            <a class="navitem" href="#">Home</a>
            <a class="navitem" href="#">About Us</a>
            <a class="navitem" href="#">Alternatives</a>
            <a class="navitem" href="#">Recognizer Tool</a>
        </div>
    </nav>
    <div class="main">
        <div class="text-container">
            <p class="Etitle" ><strong>ECO CAR RECOGNIZER</strong></p>
            <p class="welcome" >Welcome to Eco Car Recognizer, the innovative web app that helps you make informed choices for sustainable transportation. Join us on this eco-friendly journey and drive towards a cleaner, sustainable future.</p>
            <button class="try" onclick="location.href='http://index.html';">try it here</button>
        </div>
    </div>
</body>
