<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eco recognizer Tool</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    
</head>
<body>
   <header>
    <h3 class="page-name">Eco Recognizer Tool</h3>
    <p class="text">Simply drag and drop (or upload) an image of your car, and we'll identify its brand, model, and evaluate its environmental impact.</p>
    <nav>
        <div class = "navbar">
            <div style="display:flex; align-items:center; justify-content:center">
                <img src="logoNew.png"width="100" height="100"> 
                <a c class="navbarTitle"href="#">EcoRecognizer</a>
            </div>
            <div><a class="navitem" href="#">Home</a></div>
            <div><a class="navitem" href="#">About Us</a></div>
            <div><a class="navitem" href="#">Alternatives</a></div>
            <div><a class="navitem" href="#">Recognizer Tool</a></div>
        </div>
    </nav>
    </header>

    <div>
        <div class="rectangle">
             <div class="image"><img src="image new2.png"></div> 
            <div class="instruction">
              <b>Drag Image Here</b>
            
            </div>

            
            <label for="upload-image" class="upload-label">
                <div class="upload-box">
                  <span class="upload-icon">+</span>
                  <span class="upload-text">Upload Image</span>
                </div>
            </label>
            <input style="display:none"; type="file" id="upload-image" class="upload-input" accept="image/*">
        </div>
    </div>
</body>
</html>