<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/info.css">
</head>
<body>
    <h3 class="page-name">About us</h3>
    <p class="text"><b>
        Welcome to Eco Car Recognizer!         
        We are a passionate team of sustainability enthusiasts dedicated to making a positive impact on the environment through innovative technology.
        Our mission is to empower individuals to make informed decisions about their vehicles and promote sustainable transportation choices.
    </b></p>
    <nav>
        <ul>
            <li class="logo-name"><a href="#">EcoRecognizer</a></li>
            <li class="text-home"><a href="#">Home</a></li>
            <li class="text-info"><a href="#">About Us</a></li>
            <li class="text-alt"><a href="#">Alternatives</a></li>
            <li class="text-tool"><a href="#">Recognizer Tool</a></li>
        </ul>
    </nav>

  <!-- flexbox of the box sub paragragh -->
  <div class="container">
    <h2 class="header">Header Text</h2>
    <ul class="list">
      <li>Paragraph 1</li>
    </ul>
    <ul class="list">
      <li>Paragraph 2</li>
    </ul>
    <ul class="list">
      <li>Paragraph 3</li>
    </ul>
  </div>
</body>
</html>