<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us2</title>
    <link rel="stylesheet" href="../static/css/info2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <div class="navbar">
                <div style="display:flex; align-items:center; justify-content:center">
                    <img src="logoNew.png" width="100" height="100">
                    <a c class="navbarTitle" href="#">EcoRecognizer</a>
                </div>
                <div><a class="navitem" href="#">Home</a></div>
                <div><a class="navitem" href="#">About Us</a></div>
                <div><a class="navitem" href="#">Alternatives</a></div>
                <div><a class="navitem" href="#">Recognizer Tool</a></div>
            </div>
        </nav>
    </header>
    <!-- Text info -->
    <div class="text"><b>
            At Eco Car Recognizer, we believe that small actions can create a big difference.
            Our vision is to create a world where eco-friendly transportation options are accessible
            and easily evaluated. By providing a user-friendly car recognition tool and offering greener
            alternatives, we strive to inspire individuals to embrace sustainable practices and
            contribute to a healthier planet.</b>
    </div>

    <!-- three boxes -->
    <div class="boxes">
        <div class="box1">
            <h3>Drag & Drop Functionality</h3>
            <ul>
                <li>Users can easily upload images of cars through a simple drag and drop interface.</li>
                <li>The system identifies the uploaded car image using advanced image recognition technology.</li>
            </ul>
        </div>
        <div class="box2">
            <h3>Header</h3>
        </div>
        <div class="box3">
            <h3>Header</h3>
        </div>
    </div>

    <!-- Text below -->
    <div class="text2">
        We are excited to embark on this journey towards sustainability with you.
        Together, we can drive change and pave the way for a greener future. Join us
        in our mission to create a world where sustainable transportation is the norm!
    </div>

</body>

</html>