<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alternatives Page</title>
  <link rel="stylesheet" href="../static/css/alternatives.css">
</head>
<body>
  <div class="header">
    <h1>Alternatives</h1>
  <p>Learn about how to make more sustainable choices in transportation through our Alternatives section. Discover our curated selection of eco-friendly vehicles, including electric, plug-in hybrid, and hybrid cars, with detailed information on pricing, mileage, and green scores. Explore sustainable vehicle maintenance practices to optimize fuel efficiency and reduce environmental impact. Additionally, find valuable insights on five essential sustainable driving practices to adopt for a greener and more eco-conscious journey on the road.</p>
    <h2>Our Top Picks</h2>
  </div>
    <div class="featured-cars">
      <div class="car-tile">
        <img src="Images/NissanLeaf.png" alt="Nissan Leaf">
        <h3>Nissan Leaf</h3>
        <p><b>Price:</b> $27,800 to $35,800</p>
        <p><b>MPGe:</b> 149 miles to 212 miles combined city / highway</p>
        <p><b>Green Score:</b> 67</p>
      </div>
      <div class="car-tile">
        <img src="Images/Lexus.png" alt="LEXUS NX 450h+ AWD">
        <h3>Lexus NX 450h+ AWD</h3>
        <p><b>Price:</b> $57,505 - $58,755</p>
        <p><b>MPG/MPGe:</b> Combined MPGe: 84 miles & MPG: 36 MPG</p>
        <p><b>Green Score:</b> 62</p>
      </div>
      <div class="car-tile">
        <img src="Images/HyndaiElantra.png" alt="Hyundai Elantra Hybrid Blue">
        <h3>Hyundai Elantra Hybrid Blue</h3>
        <p><b>Price:</b> $24,550 to $28,185</p>
        <p><b>MPG:</b> 53 City/56 Hwy/54 Combined MPG</p>
        <p><b>Green Score:</b> 65</p>
      </div>
    </div>
  
  <div class="container">
    <div class="driving-practices">
      <h2>Sustainable Driving Practices</h2>
      <ul>
        <li>
          <h3>Reduce idling</h3>
          <p>Avoid unnecessary idling of your vehicle, especially for extended periods. Idling consumes fuel and produces emissions, contributing to air pollution and climate change. Turn off the engine when parked or waiting for extended periods.</p>
        </li>
        <li>
          <h3>Drive smoothly</h3>
          <p>Avoid aggressive driving behaviors such as rapid acceleration, hard braking, and speeding. These actions not only increase fuel consumption but also generate more emissions. Maintain a steady and moderate speed, and anticipate traffic conditions to drive more efficiently.</p>
        </li>
        <li>
          <h3>Carpool or use public transportation</h3>
          <p>Consider carpooling or using public transportation whenever possible. Sharing a ride or utilizing public transit helps reduce the number of vehicles on the road, leading to less congestion and lower emissions. It also promotes resource efficiency and saves money on fuel and parking.</p>
        </li>
        <li>
          <h3>Maintain proper tire pressure</h3>
          <p>Keep your vehicle's tires properly inflated. Underinflated tires can increase fuel consumption and cause unnecessary wear and tear. Regularly check the tire pressure and ensure it matches the manufacturer's recommended levels.</p>
        </li>
        <li>
          <h3>Plan trips efficiently</h3>
          <p>Combine multiple errands or tasks into a single trip to minimize unnecessary driving. Efficient trip planning helps reduce mileage, saves time, and reduces fuel consumption and emissions. Additionally, consider using navigation apps or devices to find the most optimized routes and avoid traffic congestion.</p>
        </li>
      </ul>
    </div>
    <div class="maintenance-practices">
      <h2>Vehicle Maintenance Practices</h2>
      <ul>
        <li>
          <h3>Regular maintenance and servicing</h3>
          <p>Follow the manufacturer's recommended maintenance schedule for your vehicle. Regularly servicing your vehicle helps keep it in optimal condition, improving fuel efficiency and reducing emissions. It includes oil changes, air filter replacements, and overall inspection of essential components.</p>
        </li>
        <li>
          <h3>Proper tire maintenance</h3>
          <p>Maintain proper tire pressure and ensure your tires are balanced and aligned correctly. Underinflated tires increase fuel consumption, while misaligned tires can cause uneven wear and reduce fuel efficiency. Regularly check tire pressure, rotate tires, and align them as necessary.</p>
        </li>
        <li>
          <h3>Use eco-friendly products</h3>
          <p>When cleaning your vehicle, choose eco-friendly and biodegradable cleaning products. Traditional car cleaning products often contain harsh chemicals that can harm the environment when washed away. Opt for environmentally friendly alternatives that are safer for both your vehicle and the ecosystem.</p>
        </li>
        <li>
          <h3>Efficient disposal of vehicle fluids and parts</h3>
          <p>Properly dispose of used vehicle fluids, such as motor oil, coolant, and transmission fluid. These fluids can be recycled or disposed of at designated collection centers. Similarly, ensure the proper disposal of old vehicle parts and batteries to prevent environmental contamination.</p>
        </li>
        <li>
          <h3>Reduce vehicle weight</h3>
          <p>Minimize unnecessary weight in your vehicle to improve fuel efficiency. Remove items from the trunk or cargo area that are not needed for your current trip. Extra weight increases fuel consumption, so maintaining a lighter vehicle helps conserve energy and reduce emissions.</p>
        </li>
      </ul>
      </div>

</body>
</html>
