<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="./home.css">
  <link rel="icon" href="./favicon.ico" type="image/x-icon">

  <title>My Website</title>
</head>
<body>
  <div class="bg-image">
    <div class="gradient-overlay"></div>
    <img src="C:\Users\19254\OneDrive\Desktop\Hackathons\TestSite\Images\bgImage.jpg" alt="background-image">

    <nav class="navbar">
      <div class="container">
        <a class="navbar-brand" href="home.html">
          
          <span class="logo-text">Logo Text</span>
        </a>
        <div class="navbar-links">
          <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="alternatives.html">Alternatives</a></li>
            <li><a href="tool.html">Recognizer Tool</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="content">
      <!-- Your page content goes here -->
      <h1>ECO CAR RECOGNIZER</h1>
      <p>Welcome to Eco Car Recognizer, the innovative web app that helps you make informed choices for sustainable transportation. Join us on this eco-friendly journey and drive towards a cleaner, sustainable future.</p>
      <a href="#" class="try-it-button">
        Try it here
        <span class="arrow">&#8594;</span>
      </a>
    </div>
  </div>
</body>
</html>
