<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car Recognizer Tool</title>
  <link rel="stylesheet" href="tool.css">
</head>
<body>
  <div class="container">
    <div class="drag-drop">
      <h1>Car Recognizer Tool</h1>
      <p>Simply drag and drop (or upload) an image of your car, and we'll identify its brand, model, and evaluate its environmental impact.</p>
      <div id="drop-area">
        <div class="drop-text">Drag and drop your image here</div>
        <input type="file" id="file-input" accept="image/*" multiple>

        <label for="file-input" class="browse-button">Select from compputer</label>
      </div>
      
      <div class="result-popup hidden">
        <img id="result-image" src="" alt="Result Image">
        <div class="result-info">
          <p>Image recognized!</p>
          <button id="learn-more-button">Learn More</button>
        </div>
      </div>
    </div>
    <div class="result">
      <h2>Result:</h2>
      <div id="result-image" class="hidden"></div>
      <p id="result-message" class="hidden"></p>
    </div>
  </div>

  <script src="scripts.js"></script>
</body>
</html>
