<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eco Car Recognizer Tool</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <div class="container">
      <h1>Eco Recognizer Tool</h1>
      <p>Simply drag and drop (or upload) an image of your car, and we'll identify its brand, model, and evaluate its environmental impact.</p>
        <div id="drag-drop-box">
            <h2>Drag and Drop an Image</h2>
            <input type="file" id="file-input" accept="image/*">
            <label for="file-input" class="browse-button">Browse from Computer</label>
        </div>

        <div id="result-popup" class="hidden">
            <img id="result-image" alt="Uploaded Image">
            <div class="result-info">
                <h3>Image Result</h3>
                <p>Description of the car's environmental impact.</p>
                <button id="learn-more-button">Learn More</button>
            </div>
        </div>

        <section id="results-section">
            <h2>Results</h2>
            <!-- Display additional results and information here -->
        </section>
    </div>

    <script src="../static/css/scripts.js"></script>
</body>

</html>
