body {
    background: linear-gradient(to bottom, #9AB268, #000000);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    scroll-snap-type: y mandatory;
  overflow-y: scroll;
  }

.page-name{
    /* About Us */


position: absolute;
width: 144px;
height: 39px;
left: calc(50% - 144px/2);
top: 186px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #000000;
}

.list{
    list-style: none;
}

a:link, a:visited, a:active{
    background-color: linear-gradient(to bottom, #9AB268, #000000);
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover {
    transform: scale(1.1);
    text-decoration: none;
    transition: 0.1ms;
  }

  .navbar{
    padding: 3rem 0rem;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 2rem
    /* list-style:none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
  }
  .navitem{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
  }
  
  .navbarTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
  /* identical to box height */
  
  text-align: center;
  }


.text{

/* Welcome to Eco Car Recognizer! */

position: absolute;
/* width: 1131px; */
height: 90px;
left: 154px;
top: 238px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #000000;
}

.container {
    position: relative;
    width: 529px;
    height: 366px;
    left: 777px;
    top: 472px;
    background-color: #9AB268;
    border-radius: 60px;
    padding: 20px;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    
  }
  
  .header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
    color: #000000;
   
  }

  .container ul{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: black;
    /* width: 33%;
    height: 100%; */
    margin-bottom: 2px;
    text-align: left;
    word-wrap: break-word;
  }
  img {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 1000px;
    height: 600px;
    transform: translate(-50%, -50%);
    border-radius: 60px;
  }