body {
    background-image: url('https://cdn.discordapp.com/attachments/1097651532540948698/1101682269174894612/damir-babacic--5fL5uvvIDQ-unsplash.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
  }
  

  .text-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
  }

  .logo{
    position: absolute;
    width: 72px;
    height: 78px;
    left: 140px;
    top: 60px;
  }
  a {
      text-decoration: inherit;
      color:white;
      cursor: pointer !important;
  }

  .navbar{
    padding: 3rem 0rem;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 2rem
  }
  .navitem{
    font-family: 'Inter';
    font-style: normal; 
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
  }
  .navitem:hover{
    transform: scale(1.2);
    transition: transform 0.1s ease;
  }
  
  .navbarTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
  /* identical to box height */
  
  text-align: center;
  }

/* Frame 1 */
#frame1{
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 10px;
gap: 10px;

position: absolute;
width: 1460px;
height: 1192px;
left: -10px;
top: -10px;
}

/* Ellipse 1 */
#Ellipse1{
position: absolute;
width: 50px;
height: 50px;
left: 157px;
top: 80px;
background: #FFFFFF;
}

/* ECO CAR RECOGNIZER */
.Etitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-size: 96px;
  line-height: 116px;
  color: #FFFFFF;
  border:none;
}

  
    
    ul li{
        list-style: none;
        font-weight: 100
      }

    ul li a{
        color: #FFFFFF;
        text-decoration: none;
      }

    /* ul li a:hover{
    transform: scale(1.1);
    text-decoration:none; 
    transition: 0.5ms;
    } */


          /* EcoRecognizer */
    .eco{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
    }
    
    .welcome {
    width: 986px;
    height: 92px;
    font: 500 24px/29px 'Inter';
    text-align: center;
    color: #FFFFFF;
    }

/* Try it here */
.try {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px; 
    line-height: 29px;
    padding: 20px;
    border-radius: 50px;
    background: linear-gradient(180deg, rgb(30, 213, 17) 0%, rgb(65, 154, 62) 100%);
    border: 5px solid black;
    transition: all 0.3s ease-in-out;
  }
.try:hover {
  border-color: white;
}
    

/* Rectangle 3 */
.my-rectangle {
  background: linear-gradient(180deg, rgba(24, 42, 27, 0) 0%, #07110A 100%);
}
  
#frame1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
}
  
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}