

body {
    background: linear-gradient(to bottom, #9AB268, #000000);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
  }
.page-name{
    /* Eco Recognizer Tool */


position: absolute;
width: 314px;
height: 39px;
left: calc(50% - 314px/2);
top: 186px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #000000;
}
.ellipse {
position: absolute;
width: 136px;
height: 126px;
left: 650px;
top: 506px;
background: rgba(39, 65, 38, 0.7);
border-radius: 50%;
}

.logo-name{
    /* EcoRecognizer */


position: absolute;
width: 232px;
height: 39px;
left: 211px;
top: 86px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

.text-home{
    /* Home */


position: absolute;
width: 67px;
height: 29px;
left: 612px;
top: 91px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */


color: #FFFFFF;
}

.text-info{
    /* About Us */


position: absolute;
width: 106px;
height: 29px;
left: 740px;
top: 91px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */


color: #FFFFFF;
}

.text-alt{
    /* Alternatives */


position: absolute;
width: 135px;
height: 29px;
left: 907px;
top: 91px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */


color: #FFFFFF;
}

.text-tool{
    /* Recognizer Tool */


position: absolute;
width: 182px;
height: 29px;
left: 1103px;
top: 91px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */


color: #FFFFFF;
}

.text{
    /* text */


position: absolute;
width: 937px;
height: 53px;
left: calc(50% - 937px/2 + 0.5px);
top: 245px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #000000;
}

.rectangle {

    position: absolute;
    width: 946px;
    height: 517px;
    left: calc(50% - 946px/2 + 1px);
    top: 340px;
    background: #D9D9D9;
    border: 3px solid #274126;
    border-radius: 80px;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .instruction {
    /* position: absolute; */
    width: 193px;
    height: 29px;
    left: calc(50% - 193px/2 - 6.5px);
    top: 632px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;

    margin-top: 20px;
    margin-bottom: 20px;
  }
  
/* Rectangle 5 */

.upload-box {
    /* position: absolute; */
    width: 329px;
    height: 64px;
    left: calc(50% - 329px/2 - 0.5px);
    top: 681px;
    background: #274126;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .upload-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-left: 10px;
  }
  
  .upload-label {
    font-size: 0;
  }

.image{/* material-symbols:upload-rounded */
    display:flex;
    justify-content: center;
    align-items: center;

}

