body {
    background: linear-gradient(to bottom, #9AB268, #000000);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
  }

.page-name{
    /* About Us */


position: absolute;
width: 144px;
height: 39px;
left: calc(50% - 144px/2);
top: 186px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
/* identical to box height */


color: #000000;
}

  .logo-name{
    /* EcoRecognizer */


position: absolute;
width: 232px;
height: 39px;
left: 211px;
top: 86px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

.text-home{
    /* Home */


position: absolute;
width: 67px;
height: 29px;
left: 612px;
top: 91px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */


color: #FFFFFF;
}

.text-info{
    /* About Us */


position: absolute;
width: 106px;
height: 29px;
left: 740px;
top: 91px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */


color: #FFFFFF;
}

.text-alt{
    /* Alternatives */


position: absolute;
width: 135px;
height: 29px;
left: 907px;
top: 91px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */


color: #FFFFFF;
}

.text-tool{
    /* Recognizer Tool */


position: absolute;
width: 182px;
height: 29px;
left: 1103px;
top: 91px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
/* identical to box height */


color: #FFFFFF;
}

.text{

/* Welcome to Eco Car Recognizer! */

position: absolute;
width: 1131px;
height: 90px;
left: 154px;
top: 238px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #000000;
}

.container {
    position: absolute;
    width: 529px;
    height: 366px;
    left: 771px;
    top: 477px;
    background: #9AB268;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    width: 33%;
    height: 100%;
    margin: 0 10px;
    padding: 0;
    list-style: none;
  }
  
  .list li {
    margin-bottom: 10px;
  }
  li p {
    padding-bottom: 10px;
  }
  ul {
    margin-bottom: 10px;
  }  