   
  .navbar-custom {
    width: 90%;

    position: fixed;
    top: 1.5rem;
    background-color: transparent;
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    text-align: center;
    color: white;
  }
  
  .navbar-brand {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    font-size: 23px;
  }
  
  .navbar-links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links ul li {
    margin-left: 20px;
  }
  
  .navbar-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;

  }
  
  .navbar-links ul li a:hover {
    color: #dad7cd;
  }
  
  #logo {
    height: 4rem;
    width: 4rem;
  
    z-index: 2;
  }
